* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  height: 100vh;
  margin: 0px 0px 0px 0px;
}

header {
  line-height: 3;
  background: rgb(223, 110, 18);
}

section {
  position: relative;
  margin: 50px 0px;
  height: 100vh;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1200px;
  margin: auto;
}

.section__title {
  font-weight: 600;
  font-size: 24px;
}

.section__tabs {
  display: flex;
  justify-content: center;
}

.section__tab {
  margin: 60px 20px;
  padding: 10px 60px;
  border: 2px solid #FED100;
  cursor: pointer;
}

.block-section {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-400px);
  display: flex;
  align-items: center;
  opacity: 0;
}

.block-section__left {
  width: 300px;
}

.block-section__title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 15px;
}

.block-section__desc {
  margin-bottom: 15px;
}

.block-section__right {
  width: 650px;
}
.block-section__right img {
  height: 450px;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.overlay {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.overlay__body {
  position: absolute;
  width: 600px;
  top: 50%;
  left: 50%;
  background: #fff;
  padding: 40px 80px;
  border-radius: 20px;
  transform: translateX(-300px);
}
.overlay__body span{
  position: fixed;
  font-size: 30px;
  right: 16px;
  top: 6px;
  cursor: pointer;
}

.act {
  display: block;
}